<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="strConexao" value="Database=wistoll; Data Source=localhost; User id=root; Password=MySqlLuiz220796!; pooling=false"/>
    <add key="url" value="http://localhost:53533/"/>
  </appSettings> 
  
  
  <!--<system.net>      
      <mailSettings>        
          <smtp>          
            <network host="smtp.fatecguaratingueta.edu.br" port="587" 
                     userName="site0@fatecguaratingueta.edu.br" password="site0#123"/>        
          </smtp>        
      </mailSettings>    
    </system.net>-->

  <!--<system.net>
    <mailSettings>
      <smtp>
        <network host="mx1.hostinger.com.br" port="25"
                 userName="wistoll@wistoll.esy.es" password="Wistoll4.1"/>
      </smtp>
    </mailSettings>
  </system.net>-->

  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587"
                 userName="Wistoll5.0@gmail.com" password="Wistoll4.1" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    
    <!-- Fica por default em toda a aplicação -->
    <sessionState timeout="20" cookieless="false" mode="InProc"/>
    <!-- Fim do sessionState -->

  </system.web>
</configuration>